<!--Student ID: 00015955-->
<div>
  <div class="bg-gray-700 text-white p-5 rounded-md shadow-md">
    <h2 class="text-xl font-semibold pb-2">Adding Event</h2>
    <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="block text-gray-300">Event Name</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="newEvent.name"
          required
          class="w-full bg-gray-800 border p-2 outline-none rounded-md"
        />
      </div>
      <div class="mb-3">
        <label class="block text-gray-300">Event Description</label>
        <textarea
          name="description"
          [(ngModel)]="newEvent.description"
          required
          class="w-full border bg-gray-800 p-2 outline-none rounded-md">
        </textarea>
      </div>
      <div class="mb-3">
        <label class="block text-gray-300">Event Image</label>
        <input
          type="file"
          name="image"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="w-full border bg-gray-800 p-2 outline-none rounded-md"
        />
      </div>
      <div class="mb-3">
        <label class="block text-gray-300">Event Location</label>
        <input
          type="text"
          name="location"
          [(ngModel)]="newEvent.location"
          required
          class="w-full border bg-gray-800 p-2 outline-none rounded-md"
        />
      </div>
      <div class="flex justify-end gap-2">
        <button
          type="button"
          (click)="closeModal()"
          class="bg-gray-500 hover:bg-gray-400 px-4 py-2 rounded-md">
          Cancel
        </button>
        <button
          type="submit"
          class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600">
          Add Event
        </button>
      </div>
    </form>
  </div>
</div>

